*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(256,0,0,0.1); */
    /* border: 1px solid #000; */
    font-family: poppins;
}
body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: end;
}
main{
    width: 10%;
    height: 90%;
    display: grid;
    grid-template-rows: 5fr 8fr .5fr;
    /* justify-content: center; */
}
.head{
    display: grid;
    width: min-content;
    height: min-content;
    justify-self: center;
    /* grid-template-columns: 1fr; */
    /* border: 6px solid black; */
    border-radius: 4vmin;
    overflow: hidden;
}
.head *{
    height: min-content;
    padding: 1.5rem;
    display: grid;
    row-gap: 1rem;
    align-content: space-evenly;
}
.head .light{
    width: 4rem;
    height: 4rem;
    border-top: 10px solid black;
    outline: 1px solid grey;
    /* height: ; */
    border-radius: 50vmin;
    line-height: 0.3;
    font-size: 1px;
    box-shadow: inset 0px 0px 12px 12px rgba(0, 0, 0, 0.3)
}
.pole{
    width: 1.5rem;
    justify-self: center;
    /* box-shadow: inset 10px 0px 15px -5px rgba(255, 255, 255, 0.5); */

}
.base{
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.pole, .base, .head{
    background-color: black;
    box-shadow: inset 10px 0px 15px -5px rgba(255, 255, 255, 0.5);
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}

.head .left *{
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
}